<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h test service</name>
  <service>
    <type>_test._tcp</type>
    <port>8181</port>
  </service>
</service-group>
